

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  /* min-height: 100vh; */
  /* background: #c4d3f6; */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 33px 30px; */
}

.wrap-table100 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.hcs-responsive-table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .hcs-responsive-table {
    display: block;
  }
}

.hcs-responsive-row {
  display: table-row;
  background: #fff;
}

.hcs-responsive-row.header {
  /* color: #000000; */
  background: #0E5072;
  /* background: #428bca; */
}

.hcs-responsive-row.notice {
  font-family: 'Noto Sans KR-Bold', 'Noto Sans KR', sans-serif;
  /* font-weight: bold; */
  /* background: #f2f2f2; */
  background: #F4F5FA;
}

@media screen and (max-width: 768px) {
  .hcs-responsive-row {
    display: block;
  }

  .hcs-responsive-row.header {
    padding: 0;
    height: 0px;
  }

  .hcs-responsive-row.header .cell {
    display: none;
  }

  .hcs-responsive-row .cell:before {
    /* font-family: Poppins-Bold; */
    font-size: 12px;
    color: #0E5072;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.hcs-responsive-row .cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .hcs-responsive-row .cell {
    display: block;
  }
}

.hcs-responsive-row .cell {
  /* font-family: Poppins-Regular; */
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.hcs-responsive-row.header .cell {
  /* font-family: Poppins-Regular; */
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  /* font-weight: unset !important; */

  padding-top: 19px;
  padding-bottom: 19px;
}


.hcs-responsive-row .cell:nth-child(1) {
  /* width: 360px; */
  padding-left: 40px;
}

.hcs-responsive-row .cell:nth-child(2) {
  /* width: 160px; */
}

.hcs-responsive-row .cell:nth-child(3) {
  /* width: 250px; */
}

.hcs-responsive-row .cell:nth-child(4) {
  /* width: 190px; */
}


.hcs-responsive-table, .hcs-responsive-row {
  width: 100% !important;
}

.hcs-responsive-row:hover {
  background-color: #F4F5FA;
  cursor: pointer;
}

.hcs-responsive-row.header:hover {
  background-color: #0E5072 !important;
}

@media (max-width: 768px) {
  .hcs-responsive-row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 0;
  }
  
  .hcs-responsive-row .cell {
    border: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hcs-responsive-row .cell:nth-child(1) {
    padding-left: 20px;
  }
  
  .hcs-responsive-row .cell {
    /* font-family: Poppins-Regular; */
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .hcs-responsive-table, .hcs-responsive-row, .hcs-responsive-row  .cell {
    width: 100% !important;
  }
}