@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
/* body {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
} */
html {
  font-size: 14px;
}

body {
  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  line-height: 1.7;
  color: #555;
  background-color: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a {
  color: #FA6400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FA6400;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #FA6400;
}

::-moz-selection {
  color: #fff;
  background: #FA6400;
}

::selection {
  color: #fff;
  background: #FA6400;
}

.hcs-container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 0px;
}

.hcs-page {
  max-width: 1052px;
  position: relative;
  margin: 0 auto;
}

.hcs-page .r-cell {
  height: 400px;
}

/* 
 * Navigation
  */
.hcs-new-nav {
  width: 100%;
  z-index: 1001;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 0px !important;
}


.hcs-new-nav #hcs-logo {
  padding-top: 10px;
  width: 23px;
  height: 38px;
}

.hcs-new-nav #hcs-main-btn {
  width: 228px;
  height: 70px;
  background-color: #FA6400;
  color: #fff;
  font-size: 18px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 20px 0;
  margin: 0px;
}

.hcs-new-nav .hcs-prem ul {
  width: 228px;
  padding: 0;
  margin: 2px 0 0 0;
}

.hcs-new-nav .hcs-prem ul.en {
  width: 152px;
}

.hcs-new-nav .hcs-prem ul li {
  padding: 0px;
  margin: 0;
  list-style: none;
  display: inline;
}

.hcs-new-nav ul li a:hover, .hcs-new-nav li a:focus, .hcs-new-nav li a:active {
  color: #FA6400 !important;
}

.hcs-new-nav li.active > a {
  color: #FA6400 !important;
  background-color: #fff !important;
}

.hcs-new-nav .hcs-prem {
  margin-right: 20px;
}

.hcs-new-nav .hcs-prem  ul li, .hcs-new-nav .hcs-prem  ul li a{
  /* padding: 0px 10px; */
  color: #40434A !important;
  font-size: 16px !important; 
  font-family: 'Roboto Light', sans-serif;
}

.hcs-new-nav .hcs-prem ul li a:hover{
  color: #40434A !important;
}

#hcs-new-nav-items {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #3F424A;
}

#hcs-new-nav-items > ul > li > a {
  font-size: 20px;
  padding: 23px 20px;
  color: #3F424A;
}
#hcs-new-nav-items .dropdown-menu {
  font-size: 20px;
}

/*
  * hcs-hero
  */
#hcs-hero {
  background: #fff url(/images/loader.gif) no-repeat center center;
}
#hcs-hero .btn {
  font-size: 24px;
}
#hcs-hero .btn.btn-primary {
  padding: 14px 30px ;
}
#hcs-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#hcs-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}

#hcs-hero .flexslider .slides li {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  max-height: 400px; 
}

#hcs-hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}
#hcs-hero .flexslider .flex-control-nav {
  display: none;
  bottom: 10px;
  z-index: 1000;
}
#hcs-hero .flexslider .flex-control-nav li a {
  /* background: rgba(255, 255, 255, 0.1); */
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
  
}
#hcs-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  /* background: rgba(255, 255, 255, 0.7); */
}
#hcs-hero .flexslider .flex-direction-nav {
  display: block;
}
#hcs-hero .flexslider .flex-direction-nav a {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
#hcs-hero .flexslider .flex-direction-nav a:before {
  left: 0;
  top: 0;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 40px;
  position: relative;
  z-index: 10;
}
#hcs-hero .flexslider .flex-direction-nav a.flex-prev {
  opacity: 1 !important;
  left: 40px !important;
}
#hcs-hero .flexslider .flex-direction-nav a.flex-prev:before {
  text-indent: 0px !important;
  font-family: 'icomoon';
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e929";
}
#hcs-hero .flexslider .flex-direction-nav a.flex-next {
  right: 40px !important;
  opacity: 1 !important;
}
#hcs-hero .flexslider .flex-direction-nav a.flex-next:before {
  font-family: 'icomoon';
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  right: 0;
  content: "\e92a";
}
#hcs-hero .flexslider .slider-text {
  display: table;
  width: 80%;
  opacity: 0;
  min-height: 400px; 
}

/* kor */
#hcs-hero .flexslider .slider-text > .banner1 {
  background: url('/images/banner_1_oval.png') no-repeat right center;
}

#hcs-hero .flexslider .slider-text > #banner_text {
  display: none;
}

#hcs-hero .flexslider .slider-text > .banner2 {
  background: url('/images/banner_2_oval.png') no-repeat left center;
}

#hcs-hero .flexslider .slider-text > .banner3 {
  background: url('/images/banner_3_oval.png') no-repeat left center;
}

#hcs-hero .flexslider .slider-text > .banner4 {
  background: url('/images/banner_4_oval.png') no-repeat right center;
}

/* eng */
#hcs-hero .flexslider .slider-text > .banner1_en {
  background: url('/images/banner_1_oval_en.png') no-repeat right center;
}
/* 
#hcs-hero .flexslider .slider-text > #banner_text {
  display: none;
} */

#hcs-hero .flexslider .slider-text > .banner2_en {
  background: url('/images/banner_2_oval_en.png') no-repeat left center;
}

#hcs-hero .flexslider .slider-text > .banner3_en {
  background: url('/images/banner_3_oval_en.png') no-repeat left center;
}

#hcs-hero .flexslider .slider-text > .banner4_en {
  background: url('/images/banner_4_oval_en.png') no-repeat right center;
}

#hcs-hero .flexslider .slider-text > .slider-text-inner {
  display: none;
}

#hcs-hero .flexslider .slider-text > .slider-btn-inner {
  display: table-cell;
  vertical-align: middle;
  background-size: 35%;
}

#hcs-hero .flexslider .slider-text > .slider-text-inner .hcs-lead {
  font-size: 20px;
  color: #fff;
}
#hcs-hero .flexslider .slider-text > .slider-text-inner .hcs-lead .icon-heart {
  color: #d9534f;
}

/*
 * hcs-section, feature-left style
 */
.feature-left {
  position: relative;
  padding-bottom: 14px;
}

.hcs-section-overflow {
  overflow: hidden;
  position: relative;
}

.hcs-section .feature-left .icon i {
  color: #cccccc !important;
}
.hcs-section .feature-left h3 {
  display: inline-block;
  color: #FA6400;
  font-size: 24x;
}

.hcs-section .feature-left-strong h3 {
  display: inline-block;
  color: #FA6400;
  font-size: 24x;
}

.hcs-section .feature-left img {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 76px;
  height: 24px;
}



/*
 * Content Area 
 */
.content-area {
  font-family: "Noto Sans KR Light", sans-serif;
  margin-bottom: 60px;
}

.content-area .hcs-heading h2:before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 50px;
  /* margin-left: -25px; */
  height: 2px; 
  /* left: 50%; */
  background: #FA6400;
} 


.content-area .hcs-heading {
  margin-top: 50px;
}

.content-area .hcs-heading h2, .content-area .hcs-heading.en h2 {
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #4A4A4A;
  position: relative;
}

.content-area .hcs-heading h2{
  font-size: 34px;
}

.content-area .hcs-heading.en h2{
  font-size: 28px;
}

.content-area .hcs-heading h3, .content-area .tab-area .hcs-heading h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
  color: #FA8A00;
  position: relative;
}

.content-area .hcs-heading img {
  width: 140px;
}

.content-area .empty-cover, .content-area .book-cover img, .content-area .book-cover.left-crop img {
  border-radius: 5px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.content-area .empty-cover {
  background: #eee;
  width: 140px;
  height : 210px;
}

.content-area .book-cover.left-crop{
  overflow-x: hidden;
  max-width: 160px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 10px;
}

.content-area .book-cover.left-crop img{
  margin-left: -105%;
  width:200%;
}

.content-area p,  .content-area ul li {
  font-family: "Noto Sans KR Light", sans-serif;
  /* padding-top: 26px; */
  font-size: 20px;
  color: #4A4A4A;
  padding-top: 10px;
}

.content-area .tab-content p {
  margin: 40px auto;
}

.content-area ol {
  list-style: none;
  counter-reset: my-hcs-counter;
  margin-left: 0;
  padding-left: 0;
}
.content-area ol li {
  font-family: "Noto Sans KR Light", sans-serif;
  padding-top: 20px;
  font-size: 20px;
  color: #4A4A4A;
  counter-increment: my-hcs-counter;
  display: flex;
  align-items: flex-start;

}

.content-area ol li::before {
  content: "0" counter(my-hcs-counter) " ";
  font-weight: bold;
  font-size: 38px;
  color: #40434A  ;
  margin-right: 10px;
  line-height: 1;
}

.content-area img{
  display: block;
  width: 60%;
}

.content-area img.center{
  margin: 0 auto;
}

.content-area .gray-box {
  padding: 26px 30px;
  border: 1px solid #ebebeb;
  background: #f5f5f5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-area .gray-outline-box {
  padding: 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

/*
 * sub-menus(tabs)
 */
 .sub-menus ul {
  margin: 0 !important;
  color: #40434A;
}
.sub-menus .btn {
  padding: 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background : #eee;
  color: #FA8A00;
}

/* 
 * Video
  */
.hcs-video {
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.hcs-video.hcs-video-sm {
  height: 250px;
}
.hcs-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.hcs-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.hcs-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.hcs-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.hcs-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/*
 * hcs-table
 */
.hcs-table .main{
  /* font-size: 18px; */
  color: #FA6400;
}

/* 
.hcs-table .main.en{
  font-size: 16px;
  color: #FA6400;
} */

.hcs-table .main.en td:first-child{
  width:160px;
}


/* 
 * Footer
  */
#hcs-footer {
  background-color : #0E1D28;
  color : #6D7278;
  font-size: 20px;
  text-align: center;
  padding-left: 30px !important;
}

#hcs-footer .hcs-banners-title {
  float: left;
  font-weight : bold;
}

#hcs-footer .hcs-banners  {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

#hcs-footer .hcs-banners li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  zoom: 1;
  display: table-cell;
  text-align: center;  
  width: 20%;
}

#hcs-footer .hcs-banners li a{
  color : #6D7278;
}

.hcs-info {
  font-family: "Noto Sans KR Light", sans-serif;
  background: #0E1D28;
  min-height: 225px;
  color: #fff;
  /* padding: 66px 0px; */
  text-align: left;
  font-size: 16px;
}

.hcs-info .logo {
  float: left;
}

.hcs-info td {
  padding: 5px 0;
}

#hcs-footer,
#hcs-faq,
.hcs-section {
  padding: 22px 0;
  clear: both;
  position: relative;
}

#hcs-footer.border-bottom,
#hcs-faq.border-bottom,
.hcs-section.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

/*
 * FAQ : hcs-accordion
 */
 #hcs-faq {
  padding-top: 2em;
  position: relative;  
  background: #efefef;
  font-size: 20px;;
}

.hcs-tab-area {
  margin-bottom: 40px;
}

.hcs-accordion {
  position: relative;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hcs-accordion .hcs-accordion-heading {
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-family: 'Noto Sans KR Light', sans-serif;
  font-size: 18x;
  margin-bottom: 10px;
}
.hcs-accordion .hcs-accordion-heading h3 {
  margin: 0;
  padding-left: 50px;
  color: #777b7e;
  font-size: 20px;;
}

.hcs-accordion .hcs-accordion-heading h3:hover, .hcs-accordion .hcs-accordion-heading h3:focus {
  color: #FA6400 !important; 
}

.hcs-accordion .hcs-accordion-heading .icon {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hcs-accordion .hcs-accordion-content {
  border-top: 1px solid #e6e6e6;
  display: none;
}
.hcs-accordion .hcs-accordion-content .inner {
  padding: 20px;
}

.hcs-accordion .hcs-accordion-content .inner ul li {
  padding: 0px;
  margin: 0px;
  font-size: 20px;;
}
.hcs-accordion.active .icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.hcs-accordion.active h3 {
  font-size: 20px;;
  color: #FA6400;
}

.hcs-accordion.active .hcs-accordion-content h3 {
  padding-left: 20px;
  padding-top: 20px;
}

.hcs-accordion.active .hcs-accordion-content ul {
  margin: 0px;
}

.hcs-accordion i {
  color: #BAC3CD;
  font-size: 16px;
}
.content-area .hcs-tab-area ul li{
  font-size: 20px;
} 

.hcs-accordion .panel {
  margin-top: 18px !important;
}

.hcs-accordion .panel-body {
  /* min-height: 20px !important; */
  padding: 10px 16px;
}

.hcs-accordion .panel-title {
  font-size: 20px;;
}

.content-area .hcs-accordion p {
  margin: 0 auto;
  font-size: 20px;;
}

.i-accordion .panel-heading,
.d-accordion .panel-heading,
.accordion-2a .panel-heading,
.accordion-2b .panel-heading,
.accordion-3 .panel-heading { cursor: pointer; }
.d-accordion .panel-heading.collapsed .fa-chevron-up:before { content: '\f078'; }

/*
 * Basic
 */
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

hr { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-width: 1px;
  border-color: #BAC3CD;
}

.hcs-emphasis {
  font-family: 'Noto Sans KR Medium', sans-serif !important;
}

.hcs-emphasis-color {
  font-family: 'Noto Sans KR Medium', sans-serif !important;
  color: #FA6400 !important
}
       
/*
 * Basic - spacng
 */
 .mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
    margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-0 {
    margin-bottom: 0px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-border { border: 0; }
.no-radius { border-radius: 0; }


/*  
 * Breadcumb Area
 */

 .breadcrumb-area {
  position: relative;
  z-index: 10;
  width: 100%; 
}

.breadcrumb-area .hcs-heading {
  margin-top: 36px;
}

.breadcrumb-area .hcs-heading h2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 38px;
  margin-bottom: 0px;
  line-height: 1.5;
  color: #FA6400;
  /* position: relative; */
}

.breadcrumb-area .breadcrumb {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  background-color: transparent; 
}

.breadcrumb-area .breadcrumb .breadcrumb-item.active span {
  text-decoration-line: underline;
  text-decoration-style: double;
}


/*
 * gototop
 */
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/*
 * button
 */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn-primary {
  background: #FA6400;
  color: #fff;
  border: 2px solid #FA6400 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ff6540 !important;
  border-color: #ff6540 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #FA6400;
  border: 2px solid #FA6400;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #FA6400;
  color: #fff;
}

.btn-success {
  background: #7cd67c;
  color: #fff;
  border: 2px solid #7cd67c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #6bc66b !important;
  border-color: #6bc66b !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #7cd67c;
  border: 2px solid #7cd67c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #7cd67c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus { outline: 0; }
.btn-custom { margin-bottom: 1em; }

/*
 * form-control
 */
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 20px;;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #FA6400;
}

/*
 * hcs-loader
 */
.hcs-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/loader.gif) center no-repeat #fff;
}

/*
 * hcs-card-item
 */
.hcs-card-item {
  display: block;
  /* width: 30%; */
  min-height: 300px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hcs-card-item.en {
  min-height: 350px;
}
.hcs-card-item.has-text figure {
  margin-bottom: 30px !important;
}
.hcs-card-item figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.hcs-card-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.hcs-card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hcs-card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hcs-card-item .hcs-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.hcs-card-item .hcs-text.text-left {
  text-align: left;
}
.hcs-card-item .hcs-text h2, .hcs-card-item .hcs-text span {
  text-decoration: none !important;
}
.hcs-card-item .hcs-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #FA6400;
}
.hcs-card-item .hcs-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.hcs-card-item .hcs-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.hcs-card-item .hcs-text span.btn {
  color: #666666 !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #ebebeb;
  border: 2px solid #ebebeb !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.hcs-card-item .hcs-text .hcs-category {
  font-size: 12px;
  color: #cccccc;
}
.hcs-card-item .hcs-text .hcs-category span {
  font-size: 12px;
  color: gray;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hcs-card-item:hover, .hcs-card-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.hcs-card-item:hover img, .hcs-card-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.hcs-card-item:hover span.btn, .hcs-card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  color: #fff !important;
  border: 2px solid #ff6540 !important;
  background: #ff6540 !important;
}
.hcs-card-item:hover figure .overlay, .hcs-card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.hcs-card-item:hover figure .overlay i, .hcs-card-item:focus figure .overlay i {
  margin-top: -15px;
}
.hcs-card-item:hover h2, .hcs-card-item:hover span, .hcs-card-item:focus h2, .hcs-card-item:focus span {
  text-decoration: none !important;
}

.hcs-cards .col-md-4 {
  width: 37%;
  margin: 5px;
}

.hcs-cards .col-md-3 {
  width: 30%;
  margin: 5px;
}

.hcs-cards .col-md-6 {
  width: 48%;
  margin: 5px;
}

.notices {
  padding: 30px 20px 20px 20px;
  margin-bottom: 0;
}

.tagline-strong {
  /* background: #f8f9fa;
  border-bottom: 2px solid #FA6400; */
  /* border: 1px solid #FA8A00 !important; */
	border-bottom: none;
	margin-bottom: -1px !important;
	/* padding: 12px 14px 14px 14px !important; */
	border-top: 4px solid #FA8A00 !important;
  /* border-bottom: 0px #FA8A00 solid !important; */
  /* background: rgb(20,157,234); */
  background: #f5f5f5;
}


.tagline {
  background: #ffffff;
  border-top: 4px solid #b3b3b3;
}


/*
 * hcs-imenu
 */
.hcs-imenu-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  /* padding-bottom: 20px; */
}

.hcs-imenu-p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #000;
}

 #hcs-imenu {
  background-color: #F4F5FA;
  min-height: 240px;
  margin-bottom: 20px;
}
#hcs-imenu img{
  margin-top: 30px;
  margin-bottom: 0px;
}
#hcs-imenu p{
  margin-top: 15px;
  margin-bottom: 0px;
}

/*
 * Sitemap
 */
.sitemap {
  /* border-bottom: 1px solid #ccc; */
  margin-top: 1em;
}

.sitemap a {
  color: gray !important;
}

.sitemap .col-md-3, .sitemap  .col-md-4, .sitemap  .col-md-6{
  border-left: 1px solid #ccc;
  padding-right:13px;
}

.sitemap .col-md-3:first-child, .sitemap .col-md-4:first-child, .sitemap .col-md-6:first-child {
  border: none;
}

/*
 * map-area
 */
.map-area {
  position: relative;
  z-index: 2; }
  .map-area iframe {
    width: 100%;
    height: 530px;
    border: none;
    margin-bottom: 0; }
    @media only screen and (max-width: 960px) {
      .map-area iframe {
        height: 300px; } }

 
/* 
 * contact-content area
 */
.contact-content-area {
  position: relative;
  z-index: 50;
  padding: 30px;
  /* box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05); */
  /* top: -50px; */
  background-color: #ffffff; }
  .contact-content-area .contact-content {
    position: relative;
    z-index: 2;
    text-align: center; }
    @media only screen and (max-width: 1133px) {
      .contact-content-area .contact-content {
        margin-bottom: 50px; } }
    
    .contact-content-area .contact-content p {
      color: #636363;
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px; }
      
    .contact-content-area .contact-content::after {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #d2d2d5;
      content: '';
      right: -15px;
      top: 0;
      z-index: 10; }
      @media only screen and (max-width: 1133px) {
        .contact-content-area .contact-content::after {
          display: none; } }
  .contact-content-area .col-12:last-child .contact-content::after {
    display: none; }
  .contact-content-area .col-12:last-child .contact-content:last-child {
    margin-bottom: 0; }

/* 
 * Gallery 
 */
.tz-gallery {
  /* padding: 40px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tz-gallery .row > div {
  padding: 0px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(250,100,0, 0.5);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

/*
 * Mega menu
  */
.dropdown-large{
  position: static !important;
}

.megamenu{
  padding: 20px 0px;
  width: 90%;
  left: auto;
  right:0;
  margin-right:-10px;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.megamenu > li > ul > li {
  list-style: none;

}
.megamenu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #4A4A4A;
  white-space: normal;
}

.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu .dropdown-header {
  color: #428bca;
  font-size: 16px;
  padding-bottom: 16px;
}

.megamenu .divider {
  display: none;
}
#hcs-new-nav-items .navbar-nav {
  float: right !important;
}


/*
 * about-us
 */
.about-us-content {
  text-align: center;
  position: relative;
  z-index: 1; }
  .about-us-content .book-cover {
    margin: 0 auto;
    margin-bottom: 30px; }
   
  .about-us-content h3 {
    /* font-weight: 600; */
    /* margin-bottom: 15px; */
    color: #4A4A4A;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; 
   
  }
    
  .about-us-content a {
    font-weight: 700;
    color: #959595; }

    .about-us-content  a:hover, .about-us-content  a:focus {
      color: #FA6400; }
      .about-us-content a:hover i, .about-us-content  a:focus i {
        padding-left: 5px; }
  .about-us-content:hover  h3 {
    color: #FA6400; }

.about-us-content h3 {
  font-size: 20px;
}

/*
 * single-latest-sermons : 비오는 수요일
 */
.single-latest-sermons {
  position: relative;
  z-index: 1; 
  margin-top: 70px;
}
@media only screen and (max-width: 960px) {
  .single-latest-sermons {
    margin-top: 40px; 
  }
 .single-latest-sermons .sermons-content .sermons-meta-data {
   margin-top: 0px !important;
  }
 }


.single-latest-sermons .sermons-thumbnail {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px; }
  .single-latest-sermons .sermons-thumbnail img {
    border-radius: 5px; }
  .single-latest-sermons .sermons-thumbnail .sermons-date {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
    width: 80px;
    height: 80px;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    bottom: -15px;
    background-color: #ffffff; }
    @media only screen and (max-width: 960px) {
      .single-latest-sermons .sermons-thumbnail .sermons-date {
        width: 60px;
        height: 60px; } }
    .single-latest-sermons .sermons-thumbnail .sermons-date h6 {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0;
      text-align: center;
      font-weight: 600;
      color: #636363; }
      .single-latest-sermons .sermons-thumbnail .sermons-date h6 span {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        display: block;
        font-size: 36px;
        font-weight: 700;
        color: #1f1f2c; }
        @media only screen and (min-width: 960px) and (max-width: 1133px) {
          .single-latest-sermons .sermons-thumbnail .sermons-date h6 span {
            font-size: 30px; } }
        @media only screen and (max-width: 960px) {
          .single-latest-sermons .sermons-thumbnail .sermons-date h6 span {
            font-size: 24px; 
            
          } }
.single-latest-sermons .sermons-content {
  position: relative;
  z-index: 1;
  margin-top: 40px; }
  .single-latest-sermons .sermons-content .sermons-cata {
    margin-bottom: 15px; }
    .single-latest-sermons .sermons-content .sermons-cata a {
      color: #959595;
      display: inline-block;
      margin-right: 20px; }
      .single-latest-sermons .sermons-content .sermons-cata a:hover {
        color: #c92f2f; }
  .single-latest-sermons .sermons-content h4 {
    font-size: 24px;
    /* font-weight: 600; */
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 0; }
  .single-latest-sermons .sermons-content .sermons-meta-data {
    margin-top: 10px; }
    .single-latest-sermons .sermons-content .sermons-meta-data p {
      margin-bottom: 5px;
      color: #959595; }
      .single-latest-sermons .sermons-content .sermons-meta-data p:last-child {
        margin-bottom: 0; }
      .single-latest-sermons .sermons-content .sermons-meta-data p i {
        width: 15px;
        color: #c92f2f; }
      .single-latest-sermons .sermons-content .sermons-meta-data p span {
        font-style: italic;
        color: #636363; }
.single-latest-sermons:hover .sermons-thumbnail .sermons-date {
  bottom: 20px;
  background-color: #c92f2f; }
  .single-latest-sermons:hover .sermons-thumbnail .sermons-date h6 {
    color: #ffffff; }
    .single-latest-sermons:hover .sermons-thumbnail .sermons-date h6 span {
      color: #ffffff; }


/* 
 * icons style
 */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #777;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #FA6400;
}

ul.the-icons {
  list-style: none;
  margin-left: 0;
}

[class^="icon-"], [class*=" icon-"] {
  float: none;
}

.icon-square, .icon-rounded, .icon-plain, .icon-circled {
  margin: 10px 10px 10px 0;
  display: inline-block !important;
  text-align: center !important;
  color: #fff;
  width: 18px;
  height: 18px;
  padding: 3px;
  font-size: 12px;
  line-height: 18px;
  text-shadow: none;
  cursor: pointer;
}

.icon-rounded {
  background-color: #999999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.icon-circled {
  background-color: #999999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.icon-square {
  background-color: #999999;
}

.icon-plain {
  width: 48px;
  height: 48px;
  font-size: 47px;
  line-height: 50px;
  color: #eee;
  text-shadow: 1px 1px 1px #FFF;
}

.icon-plain:hover {
  color: #777;
}

/* circled radius */
.icon-circled {
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
}

.icon-64.icon-circled {
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
}

.icon-128.icon-circled {
  border-radius: 64px;
  -moz-border-radius: 64px;
  -webkit-border-radius: 64px;
}

.icon-light {
  background-color: #F5F5F5;
  color: #999999;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.icon-rounded:hover, .icon-circled:hover {
  color: #fff;
  text-shadow: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.demoicon [class^="icon-"], .demoicon [class*=" icon-"], [class^="icon-"].left, [class*=" icon-"].left {
  float: left;
}

[class^="icon-"].active:hover, [class*=" icon-"].active:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 1px;
  margin-right: 8px;
}

/* custom size */
.icon-26 {
  width: 26px;
  height: 26px;
  padding: 1px;
  font-size: 14px;
  line-height: 24px;
}

.icon-32 {
  width: 24px;
  height: 24px;
  padding: 4px;
  font-size: 16px;
  line-height: 24px;
}

.icon-48 {
  width: 32px;
  height: 32px;
  padding: 8px;
  font-size: 28px;
  line-height: 30px;
}

.icon-64 {
  width: 40px;
  height: 40px;
  padding: 12px;
  font-size: 30px;
  line-height: 40px;
}

.icon-128 {
  width: 56px;
  height: 56px;
  padding: 36px;
  font-size: 54px;
  line-height: 60px;
}


@media screen and (max-width: 1133px) {
  body {
    padding: 0;
  }

  .hcs-page {
    padding-right: 10px;
  }
  
  .hcs-new-nav {
    padding: 0px 0;
  }
  
  .megamenu> li .dropdown-header , .megamenu> li > ul {
    font-size: 14px !important;
  }

  .hcs-heading p {
    font-size: 18px;
  }
  
  /*
  * Navigation
  */
  #hcs-new-nav-items > ul > li > a {
    font-size: 18px;
    padding: 10px 14px;
  }

  .hcs-new-nav #hcs-logo {
    padding-top: 0px;
  }

  .hcs-new-nav #hcs-logo img{
    width: 170px;
    height: 31px;
  }

  .hcs-new-nav #hcs-main-btn {
    width: 200px;
    max-height: 50px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 10px; */
    padding: 3px 7px !important;
  }

  /*
  * hcs-hero
  */
  #hcs-hero .flexslider .slider-text {
    width: 100%;
  }
  #hcs-hero .flexslider .slides li .overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  #hcs-hero .flexslider .slider-text > .slider-btn-inner {
    display: none;
  }

  #hcs-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    vertical-align: middle;
  }

  #hcs-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    margin: 20px auto;
    color: #fff;
  }
  #hcs-hero .flexslider .slider-text > .slider-text-inner p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    width: 50%;
    margin: 20px auto;
  }

  #hcs-hero .btn.btn-primary {
    font-size: 20px;
    padding: 10px 30px !important;
  }

  .hcs-cards .col-md-4 {
    width: 100% !important;
    margin: 0px !important; 
  }

  .hcs-cards .col-md-3 {
    width: 100% !important;
    margin: 0px !important; 
  }

  .hcs-cards .col-md-6 {
    width: 100% !important;
    margin: 0px !important; 
  }

  .breadcrumb-area .hcs-heading {
    margin-top: 16px;
  }

  .content-area img{
    width: 80%;
  }

  #hcs-footer {
    padding-left: 10px !important;
  }
  #hcs-footer .hcs-banners{
    text-align: left;
    padding: 0px;
  }
  #hcs-footer .hcs-banners li {
    display: inline;
    margin-right: 40px;
    text-align: left;  
  }

  #hcs-footer .hcs-info .info {
    margin-top: 20px;
  }

  #hcs-footer .hcs-social-icons {
    margin: 0;
    padding: 10px 10px 0 0;
  }

  .hcs-new-nav .hcs-prem  ul li, .hcs-new-nav .hcs-prem  ul li a{
    /* padding: 0px 5px; */
    color: #40434A !important;
    font-size: 14px !important; 
    font-family: 'Roboto Light', sans-serif;
  }

  .hcs-imenu-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /* min-height: 80px; */
    /* padding-bottom: 20px; */
  }

  #hcs-imenu img{
    margin-top: 20px;
    margin-bottom: 0px;
  }


  .hcs-imenu-p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000;
  }


  #hcs-new-nav-items .navbar-nav {
    float: left !important;
    width: 100%;
  }
  
  /*  
  * Breadcumb Area
  */
  
  nav .breadcrumb {
    vertical-align: middle;
  }



  .hcs-tab-area h2, .hcs-tab-area h3 {
    /* padding: 20px; */
    position: relative;
    cursor: pointer;
    font-family: 'Noto Sans KR Light', sans-serif;
    font-size: 22px !important;

  }


  .hcs-accordion .hcs-accordion-heading {
    padding: 0px;
    position: relative;
    cursor: pointer;
    font-family: 'Noto Sans KR Light', sans-serif;
    font-size: 18x !important;
  }
 

  .hcs-accordion .hcs-accordion-heading .icon {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
  }

  .hcs-accordion .hcs-accordion-content {
    /* border-top: 1px solid #e6e6e6;
    display: none; */
    margin-top:20px;
    
  }
  .hcs-accordion .hcs-accordion-content .inner {
    padding: 20px;
    font-size: 18px;
  }

  .megamenu{
    width: 100% !important;
    margin-left: 0 ;
    margin-right: 0 ;
    padding-top: 5px;

  }
  
  .megamenu> li {
    margin-bottom: 10px;
  }
  .megamenu> li:last-child {
    margin-bottom: 30px;
  }
  .megamenu .dropdown-header {
    padding: 3px 10px 10px 0 !important;
  }

  .megamenu .dropdown-header.empty-header {
    display: none;
  }

  .megamenu > li > ul > li > a {
    padding: 2px;
    font-size: 16px;
  }
  .megamenu .divider {
    display: block;
    
  }

  .hcs-card-item.en {
    min-height: auto;
  }

  .sitemap .col-md-3 {
    border:none;
  }


}


@media  screen and (max-width: 960px) {
  .hcs-new-nav .hcs-prem ul, .hcs-new-nav .hcs-prem ul.en {
    width: auto;
  }
  .megamenu{
    width: 100% !important;
    margin-left: 0 ;
    margin-right: 0 ;
    padding-top: 5px;

  }

  .megamenu> li {
    margin-bottom: 10px;
  }
  .megamenu> li:last-child {
    margin-bottom: 30px;
  }
  .megamenu .dropdown-header {
    padding: 3px 10px 10px 0 !important;
  }

  .megamenu .dropdown-header.empty-header {
    display: none;
  }

  .megamenu > li > ul > li > a {
    padding: 2px;
    font-size: 16px;
  }
  .megamenu .divider {
    display: block;
    
  }

  .breadcrumb-area .breadcrumb {
    padding-top: 10px;
  }
}


@media screen and  (max-width: 760px) {

.hcs-new-nav .hcs-prem  ul li, .hcs-new-nav .hcs-prem  ul li a{
  /* padding: 0px 5px; */
  color: #40434A !important;
  font-size: 14px !important; 
  font-family: 'Roboto Light', sans-serif;
}

.hcs-imenu-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  /* min-height: 80px; */
  /* padding-bottom: 20px; */
}

#hcs-imenu img{
  margin-top: 20px;
  margin-bottom: 0px;
}


.hcs-imenu-p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;
}


#hcs-new-nav-items .navbar-nav {
  float: left !important;
  width: 100%;
}


/*  
* Breadcumb Area
*/

nav .breadcrumb {
  vertical-align: middle;
}

.breadcrumb-area .hcs-heading h2,
.content-area .hcs-heading h2, .content-area .hcs-heading.en h2{
  font-size: 28px;  
}

.content-area ol li::before {
  font-size: 28px;  
}
.breadcrumb-area .breadcrumb .breadcrumb-item {
  font-size: 16px; 
}

.breadcrumb-area .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  font-size: 8px;
}

.breadcrumb-area hr {
  margin-top: 10px;
}

.hcs-tab-area h2, .hcs-tab-area h3 {
  /* padding: 20px; */
  position: relative;
  cursor: pointer;
  font-family: 'Noto Sans KR Light', sans-serif;
  font-size: 22px !important;

}


.hcs-accordion .hcs-accordion-heading {
  padding: 0px;
  position: relative;
  cursor: pointer;
  font-family: 'Noto Sans KR Light', sans-serif;
  font-size: 18x !important;
}


.hcs-accordion .hcs-accordion-heading .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 18px;
}

.hcs-accordion .hcs-accordion-content {
  /* border-top: 1px solid #e6e6e6;
  display: none; */
  margin-top:20px;
  
}
.hcs-accordion .hcs-accordion-content .inner {
  padding: 20px;
}


.hcs-table .main.en td:first-child{
  width: auto;
}

}
