


.breadcrumb-area .breadcrumb .breadcrumb-item {
  font-family: 'Noto Sans KR',sans-serif;
  /* font-size: 20px; */
  color: #BAC3CD;
  font-weight: 600; 
}

.breadcrumb-area .breadcrumb .breadcrumb-item.active {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.breadcrumb-area .breadcrumb .breadcrumb-item a {
  color: #4A4A4A;
  font-weight: 600; 
}
.breadcrumb-area .breadcrumb .breadcrumb-item a:hover, .breadcrumb-area .breadcrumb .breadcrumb-item a:focus {
  color: #FA6400; 
}
.breadcrumb-area .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color:#BAC3CD;
  font-family: 'icomoon';
  font-size: 13px;
  content: "\e92a"; 
}
  .breadcrumb-area .breadcrumb .breadcrumb-item {
    font-size: 16px; 
  }
  
  .breadcrumb-area .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-size: 8px;
  }

  .breadcrumb-area hr {
    margin-top: 10px;
  }